@{
    ViewData["Title"] = "Home Page";
}
@* Abby Wakefield 
    Section 3 Group 4
    The project description can be found in the "Exam Instructions" Folder under the Capture.PNG file.*@

@*The first page that it goes to when the app is opened up. just has some links and a picture to make it less boring as heck *@
<html>

<head>
    <link href="~/css/stylesheetmeme.css" rel="stylesheet" />
    <div class="text-center">
        <h1>Welcome to the Quote Database</h1>
        <p1>
            Add your favorite quote by clicking on <a asp-area="" asp-controller="Home" asp-action="AddQuote">Add Quote </a> or view other's favorite quotes by
            clicking on <a  asp-area="" asp-controller="Home" asp-action="ViewQuotes">View Quotes</a>
        </p1>
    </div>
    <br/>
</head>
<body>
    
    <center>
        <div class="hello">
            <img class="hello" src="~/img/download.jpg" />
        </div>
    </center>
    
</body>



</html>